@using Newtonsoft.Json
@model CityViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>City List</h1>




<form asp-action="Index" method="get">
<div class="row g-3">
    <div class="col-md-5">
        <input type="text" asp-for="Filter.Search" name="search" class="form-control" placeholder="City name" aria-label="City name">
    </div>
    <div class="col-md-5">
        <select multiple id="cmbCountryId" asp-for="Filter.CountryId" name="countryId" class="form-select" asp-items='ViewBag.CountryList as SelectList' aria-label="County">
           
        </select>
    </div>

    <div class="col-md-2">
        <button type="submit" class="btn btn-primary">Search</button>
        </div>
</div>

</form>

<a asp-action="Create" a>Create new city</a>

<partial name="_AlertPartial" />

<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(Model=>Model.Cities[-100].Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(Model => Model.Cities[-1].Name)
            </th>

            <th scope="col">
                @Html.DisplayNameFor(Model => Model.Cities[-1].CountryName)
            </th>

            <th scope="col">
                Manage

            </th>
        </tr>
    </thead>

    <tbody>

        @foreach(var city in Model.Cities)
        {
            <tr>
                <td>
                    @city.Id
                </td>

                <td>@city.Name</td>

                <td>@city.CountryName</td>

                <td>

                    @{
                        var dic = new Dictionary<string, string>();
                        dic["name"] = city.Name;

                    }
                    <a asp-action="Edit" asp-route-name="@city.Name" asp-route-id="@city.Id">Edit</a>

                </td>
            </tr>
        }

    </tbody>

</table>

@section Styles{
    <link asp-append-version="true" href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
}

@section Scripts{
    <script  src="~/lib/select2/js/select2.full.min.js"></script>



   <script>
       //  JQue
       $(function () {

           $('#cmbCountryId').select2();
       });

      
   </script>
   
}

